body.light {
  background-color: #EAFFF9;
  color: #232323; 
}
body.dark {
  background-color: #232323;
  color: #000000; 
}
.lang1 {
  margin-bottom: 8px;
  padding: 9px 10px;
  font-size: 14px;
  font-weight: 500;
  background-color: #ffffff; 
  border: 1px solid #ddd;
  border-radius: 10px;
  width: 7rem;
  height: 2.5rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.lang1:hover {
  background-color: #f0f0f0;
}

.layout {
  display: flex;
}

.sticky-navbar {
  position: sticky;
  top: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 13rem;
  padding: 10px;
  background-color: inherit;
  z-index: 10;
  margin-inline: 5px;
}

.mern-img {
  text-align: center;
}

.mern-img img {
  width: 18.5rem;
  margin-left: 2rem;
}

.mern-img p {
  margin-top: 1rem;
  font-weight: bold;
  color: inherit;
}

.grid-item {
  color: inherit; 
  background-color: transparent;
  transition: color 0.3s, background-color 0.3s;
}


.lang1.dark-btn {
  background-color: white;
  color: #000000; 
  border-color: #555;
}

.lang1.dark-btn:hover {
  background-color: #555;
}

.mern-img img {
  filter: brightness(100%);
}

.mern-img p {
  color: #000000; }